.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}
.btn {
  border-radius: 5px;
  size: 10px;
}

#url {
  border-radius: 5px;
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: white;
}
