@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital@1&family=Josefin+Sans:wght@700&display=swap');

body {
  background-color: aqua;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  color: blue !important;
  text-decoration: underline;
}